<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>920682570102-hm17plmm1ck1svcviu2chj023aihs4k9.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.920682570102-hm17plmm1ck1svcviu2chj023aihs4k9</string>
	<key>API_KEY</key>
	<string>AIzaSyDSsBP8CWwhDcvoPQQmDlVhJi81BlfNDLg</string>
	<key>GCM_SENDER_ID</key>
	<string>920682570102</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>jsyz.supply</string>
	<key>PROJECT_ID</key>
	<string>supply-9b93e</string>
	<key>STORAGE_BUCKET</key>
	<string>supply-9b93e.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:920682570102:ios:32c317d878eb05aa39da57</string>
	<key>DATABASE_URL</key>
	<string>https://supply-9b93e.firebaseio.com</string>
</dict>
</plist>